extends layout

include mixins/_achievementCard

block content
  .inner.col-xs-12.col-md-12
    h2= title
    table.table.table-striped.table-bordered
      thead
        tr
          td Id
          td Name
          td Description
          td Points
          td Image
          td Tags
          td Update
          td Created
      tbody
        each achievement in achievements
          +achievementCard(achievement)
