mixin forgotForm()
  form.form(action="/account/forgot" method="POST")
    h2 I forgot my password
    .form-group
      label(for="email") Email
      input.form-control(type="email" name="email")
    .form-group
      input.btn.btn-primary(type="submit" value="Reset my password")
